<nav class="mdl-cell mdl-cell--12-col mdl-typography--subhead pagination">
    {{#if next}}
        <a class="pagination-older" href="{{page_url next}}" title="Older Posts">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-shadow--2dp">
                <i class="material-icons">arrow_back</i>
            </button>
            Ältere Beiträge
        </a>
    {{/if}}
    <span>Seite {{page}} von {{pages}}</span>
    {{#if prev}}
        <a class="pagination-newer" href="{{page_url prev}}" title="Newer Posts">
            Neuere Beiträge
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-shadow--2dp">
                <i class="material-icons">arrow_forward</i>
            </button>
        </a>
    {{/if}}
</nav>